@model ControleEstacionamento.Web.ViewModels.MovimentacaoVeiculo.MovimentacaoVeiculoViewModelEntrada
@{
    ViewBag.Title = "EntradaVeiculo";
}

<h2>Entrada de Veículo</h2>

@using (Html.BeginForm("EntradaVeiculo", "MovimentacaoVeiculo", FormMethod.Post))
{


    <div class="row col-md-offset-1">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Placa)
                    @Html.TextBoxFor(model => model.Placa, new { @class = "form-control", placeholder = "Placa do Veiculo" })
                    @Html.ValidationMessageFor(model => model.Placa)
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.NomeCliente)
                    @Html.TextBoxFor(model => model.NomeCliente, new { @class = "form-control", placeholder = "Nome do Cliente" })
                    @Html.ValidationMessageFor(model => model.NomeCliente)
                </div>
            </div>
      
            <div class="row" style="margin-top:15px">
                <div class="col-md-4">
                    <button type="submit" class="btn-default btn">Dar entrada</button>
                </div>
            </div>

        </div>
    </div>


}
